# Operadores

- Conjunto de símbolos para lenguaje de programación
- Dicen al compilador o intérprete que ejecute ciertas acciones para producir resultado final
- Aplicados a aperaciones o valores

## Tipos : 

- aritméticos 
- relacionales 
- de asignación
- lógicos
- de afiliación
- de identidad

### Aritméticos
- "+" : suma
- "-" : resta
- "*" : multiplicación
- "/" : división
- "//" : división con redondeo hacia abajo
- "**" : exponente

In [1]:
# +
n1 = 500
n2 = 100
print ("El resultado es:", n1+n2)

El resultado es: 600

In [3]:
# -
n1 = 500
n2 = 600
print ("La resta es:", n1-n2)

La resta es: -100

In [4]:
# *
n1 = 34
n2 = 3
print ("La multiplicación es:", n1*n2)

La multiplicación es: 102

In [8]:
# /
n1 = 33.9
n2 = 3.3
print ("La división es:", n1/n2)

La división es: 10.272727272727273

In [10]:
# //
n1 = 33.9
n2 = 3.3
print ("La división es:", n1//n2)

La división es: 10.0

In [11]:
# **
n1 = 4
n2 = 3
print ("La potencia es:", n1**n2)

La potencia es: 64

### Relacionales

- Conocidos como Operadores de Comparación
- Regresan un valor bool (True / False)
- Comparar o relacionar los valores
- True = condición exitosa
- False = condición no cumplida
- Se encargan de operaciones de comparación

Tipos
- "==" : igual a
- "!=" : diferente a
- ">"  : mayor que
- ">=" : mayor o igual que
- "<"  : menor que
- "<=" : menor o igual que

In [15]:
# "==" : igual a

n1 = 570 
n2 = 420
print("El resultado de n1==n2 es:",n1==n2)

El resultado de n1==n2 es: False

In [16]:
n1 = 4 
n2 = 4
print("El resultado de n1==n2 es:",n1==n2)

El resultado de n1==n2 es: True

In [14]:
str_1 = "Backend Pyton"
str_2 = "Backend Pyton"
print("El resultado de str_1==str_2 es:",str_2==str_1)

El resultado de str_1==str_2 es: True

In [17]:
# "!=" : diferente a

n1 = 570 
n2 = 420
print("El resultado de n1!=n2 es:",n1!=n2)

El resultado de n1!=n2 es: True

In [18]:
n1 = 76 
n2 = 76
print("El resultado de n1!=n2 es:",n1!=n2)

El resultado de n1!=n2 es: False

In [24]:
name_1 = "Ensalada"
name_2 = "Ensalada"
print("El resultado de name_1!=name_2 es:",name_2!=name_1)

El resultado de name_1!=name_2 es: False

In [20]:
# "">"" : mayor que

n1 = 570 
n2 = 420
print("El resultado de n1>n2 es:",n1>n2)

El resultado de n1>n2 es: True

In [21]:
n1 = 67 
n2 = 67
print("El resultado de n1>n2 es:",n1>n2)

El resultado de n1>n2 es: False

In [22]:
# ">=" : mayor igual que

n1 = 570 
n2 = 420
print("El resultado de n1>=n2 es:",n1>=n2)

El resultado de n1>=n2 es: True

In [23]:
n1 = 92 
n2 = 92
print("El resultado de n1>=n2 es:",n1>=n2)

El resultado de n1>=n2 es: True

In [25]:
# "<" : menor que

n1 = 570 
n2 = 420
print("El resultado de n1<n2 es:",n1<n2)

El resultado de n1<n2 es: False

In [27]:
n1 = 3.1
n2 = 3.2
print("El resultado de n1<n2 es:",n1<n2)

El resultado de n1<n2 es: True

In [28]:
# "<="" : menor igual que

n1 = 570 
n2 = 420
print("El resultado de n1<=n2 es:",n1<=n2)

El resultado de n1<=n2 es: False

In [29]:
n1 = 8.345 
n2 = 8.345
print("El resultado de n1<=n2 es:",n1<=n2)

El resultado de n1<=n2 es: True

### Asignación
- Usados para asignar valores a variables
- Incluyen al valor de asignación (=)

Tipos:
- "="  : Asignación
- "+=" : Sumar y asignar
- "-=" : Restar y asignar
- "*=" : Multiplicar y asignar
- "/=" : Dividir y asignar
- "//=" : Dividir con redondeo hacia abajo y asignar
- "%=" : Módulo y asignar
- "**=" : Exponente y asignar

In [30]:
# "="  : Asignación

n1 = 20
n2 = 3

In [31]:
# "+=" : Sumar y asignar

n1 = 20
n2 = 3
print("n1 antes de la operación: ", n1)
n1 += n2 # n1 = n1+n2
print("n1 después de la operación: ", n1)

n1 antes de la operación:  20
n1 después de la operación:  23

In [32]:
n1 = 20
n2 = 3
print("n1 antes de la operación: ", n1)
n1 -= n2 # n1 = n1-n2
print("n1 después de la operación: ", n1)

n1 antes de la operación:  20
n1 después de la operación:  17

In [33]:
n1 = 20
n2 = 3
print("n1 antes de la operación: ", n1)
n1 *= n2 # n1 = n1 * n2
print("n1 después de la operación: ", n1)

n1 antes de la operación:  20
n1 después de la operación:  60

In [34]:
n1 = 20
n2 = 3
print("n1 antes de la operación: ", n1)
n1 /= n2 # n1 = n1 / n2
print("n1 después de la operación: ", n1)

n1 antes de la operación:  20
n1 después de la operación:  6.666666666666667

In [35]:
n1 = 20
n2 = 3
print("n1 antes de la operación: ", n1)
n1 //= n2 # n1 = n1 // n2
print("n1 después de la operación: ", n1)

n1 antes de la operación:  20
n1 después de la operación:  6

In [36]:
# "%=" : Módulo y asignar - el número que queda después de haber dividido entre el entero más proximo : residuo

n1 = 20
n2 = 3
print("n1 antes de la operación: ", n1)
n1 %= n2 # n1 = n1 % n2
print("n1 después de la operación: ", n1)

n1 antes de la operación:  20
n1 después de la operación:  2

In [37]:
n1 = 20
n2 = 3
print("n1 antes de la operación: ", n1)
n1 **= n2 # n1 = n1 ** n2
print("n1 después de la operación: ", n1)

n1 antes de la operación:  20
n1 después de la operación:  8000

### Lógicos
- Usados para declaraciones condicionales
- Indicadores estructurales
- Conocidos como Conectores lógicos

Tipos
- AND : regresa True si ambas operaciones son verdaderas
- OR  : regresa True si al menos una de la operaciones es verdadera
- NOT : regresa True si la operación es False

In [38]:
# AND
# Todas las condiciones deben ser verdaderas

n1 = 11
n2 = 55

print("n1<=n2 and n1!=n2", n1<=n2 and n1!=n2)

## 11 < 55 : True
## 11 != 55 : True

n1<=n2 and n1!=n2 True

In [41]:
n1 = 11
n2 = 55

print("n1<=n2 and n1!=n2 and n1>10", n1<=n2 and n1!=n2 and n1>10)

## 11 < 55 : True
## 11 != 55 : True
## 11 > 10 : True

n1<=n2 and n1!=n2 and n1>10 True

In [42]:
# OR
# Una de las condiciones deben ser verdaderas

n1 = 11
n2 = 55

print("n1<=n2 or n1!=n2", n1<=n2 or n1!=n2)

## 11 < 55 : True
## 11 != 55 : True

n1<=n2 or n1!=n2 True

In [43]:
n1 = 11
n2 = 11

print("n1<=n2 or n1!=n2", n1<=n2 or n1!=n2)

## 11 < 55 : True
## 11 != 11 : True

n1<=n2 or n1!=n2 True

In [45]:
n1 = 11
n2 = 11

print("n1<=n2 or n1!=n2 or n1>10", n1<=n2 or n1!=n2 or n1>10)

## 11 < 55 : True
## 11 != 55 : True
## 11 > 10 : True

n1<=n2 or n1!=n2 or n1>10 True

In [46]:
# NOT
# La condición debe ser False

n1 = 11
n2 = 55

print("not n1<=n2", not n1<=n2)

## 11 <= 55 : True

not n1<=n2 False

In [47]:
n1 = 11
n2 = 55

print("not n1!=n2", not n1!=n2)

## 11 != 55 : True

not n1!=n2 False

In [51]:
n1 = 11
n2 = 11

print("not n1!=n2", not n1!=n2)

## 11 <= 55 : True

not n1!=n2 True

# Afiliación
- Validar elementos en listas, cadenas y tuplas
- Validan si una variable está presente en una secuencia
- Regresan valor bool
- Regresan True si el valor esta presente en la secuencia
- Regresan False si el valor NO esta presente en la secuencia

    - IN : el valor esta en la secuencia
    - NOT IN : el valor no esta en la secuencia

In [52]:
# IN : El valor esta en la secuencia ?

my_string = "Backend Python"
print ("'a' in my_string",'a' in my_string)

'a' in my_string True

In [53]:
my_string = "Backend Python"
print ("'p' in my_string",'p' in my_string)

'p' in my_string False

In [54]:
my_list = [1, 154, 321, 22, 11]
print("5 in my_list", 5 in my_list)

5 in my_list False

In [55]:
my_list = [1, 154, 321, 22, 11, 321, 1, 154]
print("5 in my_list", 321 in my_list)

5 in my_list True

In [67]:
my_list

[1, 154, 321, 22, 11, 5]

In [62]:
my_set = {1, 154, 321, 22, 11, 5, 5, 321}
print("5 in my_set", 5 in my_set)

5 in my_set True

In [68]:
my_set

{1, 5, 11, 22, 154, 321}

In [63]:
# NOT IN : El valor NO esta en la secuencia ?

my_string = "Backend Python"
print ("'a' not in my_string",'a' not in my_string)

'a' not in my_string False

In [64]:
my_string = "Backend Python"
print ("'P' in my_string",'P' in my_string)

'P' in my_string True

In [65]:
my_list = [1, 154, 321, 22, 11]
print("5 not in my_list", 5 not in my_list)

5 not in my_list True

In [66]:
my_list = [1, 154, 321, 22, 11, 5]
print("5 not in my_list", 5 not in my_list)

5 not in my_list False

### Identidad
- Usados para comparar la ubicación en memoria de dos objetos
- Validan si los valores comparten el mismo espacio en memoria o no
- Regresa True si lo comparten, y False si no lo comparten

    - IS
    - IS NOT

In [69]:
# IS

n1 = 11
n2 = 55
print("n1 is n2", n1 is n2)

n1 is n2 False

In [70]:
n1 = 77
n2 = 77
print("n1 is n2", n1 is n2)

n1 is n2 True

In [71]:
# IS NOT

n1 = 11
n2 = 55
print("n1 is not n2", n1 is not n2)

n1 is not n2 True

In [78]:
n1 = 56
n2 = 56
print("n1 is not n2", n1 is not n2)

n1 is not n2 False

# Conversion de tipos

- Es el proceso de conversión de un tipo de dato a otro tipo
- Importante para combinar multiples fuentes de datos en un formato específico

Tipos
- Conversión implícita : hecha de forma automática por el intérprete de Python
- Conversión explícita

In [79]:
# Implícita

In [80]:
14+2.0

16.0

In [81]:
# Explícita

In [83]:
int(199.98252)

199

In [85]:
float(9)

9.0

In [86]:
complex(4)

(4+0j)

### int

In [92]:
# float a int
int(0.892355)

0

In [93]:
# bool a int
int(False)

0

In [95]:
# complex a int -> error
int(5+3j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [96]:
# string a int
int("120")

120

### float

In [99]:
# int a float
float(23)

23.0

In [100]:
# complex a float -> error
float(23+1j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [101]:
# bool a float
float(True)

1.0

In [102]:
# string a float
float("804.0048")

804.0048

In [103]:
# string a float
float("804")

804.0

In [104]:
# string a float -> error
float("804t")

ValueError: could not convert string to float: '804t'

In [105]:
# string a float -> error
float("True")

ValueError: could not convert string to float: 'True'

In [108]:
# string a float
float(bool("True"))

1.0

### complex

In [112]:
# int a complex
complex(42)

(42+0j)

In [113]:
# floar a complex
complex(42.08235)

(42.08235+0j)

In [114]:
# bool a complex
complex(True)

(1+0j)

In [115]:
# string a complex
complex("42")

(42+0j)

In [116]:
# string a complex
complex("42.987")

(42.987+0j)

In [117]:
# string a complex -> error
complex("Python")

ValueError: complex() arg is a malformed string

In [120]:
# string a complex
complex("10j")

10j

### bool

In [122]:
# int a bool
bool(42)

True

In [123]:
# int a bool
bool(0)

False

In [124]:
# float a bool
bool(3.7)

True

In [125]:
# int a bool
bool(-42)

True

In [126]:
# float a bool
bool(0.0007)

True

In [127]:
# complex a bool
bool(0+0j)

False

In [128]:
# complex a bool
bool(0+1j)

True

In [129]:
# string a bool
bool("Python")

True

In [130]:
# string a bool
bool(" ")

True

In [131]:
# string a bool
bool("")

False

### str

In [132]:
# int a str
str(32)

'32'

In [133]:
# float a str
str(982734.424)

'982734.424'

In [134]:
# complex a str
str(4+9j)

'(4+9j)'

In [135]:
# bool a str
str(True)

'True'

# Funciones Básicas

## trunc()

In [137]:
n1 = 4.23
n2 = 4.3
n3 = 4.98
n4 = 4.000023
print("n1: ", n1)
print("n2: ", n2)
print("n3: ", n3)
print("n4: ", n4)

n1:  4.23
n2:  4.3
n3:  4.98
n4:  4.000023

In [139]:
from math import trunc
n1 = 4.23
n2 = 4.3
n3 = 4.98
n4 = 4.000023
print("trunc(n1): ", trunc(n1))
print("trunc(n2): ", trunc(n2))
print("trunc(n3): ", trunc(n3))
print("trunc(n4): ", trunc(n4))

trunc(n1):  4
trunc(n2):  4
trunc(n3):  4
trunc(n4):  4

## round(), ceil() y floor()

In [142]:
# round()

n1 = 4.59
n2 = 4.3
n3 = 4.98
n4 = 4.000023
print("round(n1): ", round(n1))
print("round(n2): ", round(n2))
print("round(n3): ", round(n3))
print("round(n4): ", round(n4))

round(n1):  5
round(n2):  4
round(n3):  5
round(n4):  4

In [143]:
# ceil()

from math import ceil
n1 = 4.59
n2 = 4.3
n3 = 4.98
n4 = 4.000023
print("ceil(n1): ", ceil(n1))
print("ceil(n2): ", ceil(n2))
print("ceil(n3): ", ceil(n3))
print("ceil(n4): ", ceil(n4))

ceil(n1):  5
ceil(n2):  5
ceil(n3):  5
ceil(n4):  5

In [144]:
# floor()

from math import floor
n1 = 4.59
n2 = 4.3
n3 = 4.98
n4 = 4.000023
print("floor(n1): ", floor(n1))
print("floor(n2): ", floor(n2))
print("floor(n3): ", floor(n3))
print("floor(n4): ", floor(n4))

floor(n1):  4
floor(n2):  4
floor(n3):  4
floor(n4):  4

## %

In [148]:
n1 = 4.59
n2 = 4.3
n3 = 4.98
n4 = 4.000023
print("'%.2f' % (n1): ", '%.2f' % (n1))
print("'%.3f' % (n2): ", '%.3f' % (n2))
print("'%.4f' % (n3): ", '%.4f' % (n3))
print("'%.5f' % (n4): ", '%.5f' % (n4))

'%.2f' % (n1):  4.59
'%.3f' % (n2):  4.300
'%.4f' % (n3):  4.9800
'%.5f' % (n4):  4.00002

## format()

In [149]:
n1 = 4.59
n2 = 4.3
n3 = 4.98
n4 = 4.000023
print("'{:.2f}' .format(n1): ", '{:.2f}' .format(n1))
print("'{:.3f}' .format(n2): ", '{:.3f}' .format(n2))
print("'{:.4f}' .format(n3): ", '{:.4f}' .format(n4))
print("'{:.5f}' .format(n4): ", '{:.5f}' .format(n4))

'{:.2f}' .format(n1):  4.59
'{:.3f}' .format(n2):  4.300
'{:.4f}' .format(n3):  4.0000
'{:.5f}' .format(n4):  4.00002