## Creación y Modificación de sets

In [3]:
my_set = set()
my_set.add("Python")

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
1
{'Python'}

In [4]:
# List []
# Tuple ()
# Set {}

In [5]:
my_set = set()
my_set.add("Python")
my_set.update((23, "Backend", 23.12))

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
4
{'Backend', 23.12, 'Python', 23}

In [6]:
my_set = set()
my_set.add("Python")
my_set.update((23, "Backend", 23.12))

my_set.add("Python")
my_set.add("Python")
my_set.add("python")
my_set.add(23)

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
5
{'Python', 'Backend', 23, 23.12, 'python'}

## Métodos de manipulación

### add
Agregar un elemento a un set

In [10]:
my_set = {1, 4, 24, 14, 457}

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
5
{1, 4, 24, 457, 14}

In [11]:
my_set.add(4)
my_set.add(7)
my_set.add(79)

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
7
{1, 4, 7, 24, 457, 14, 79}

### clear
Elimina todos los elementos

In [12]:
my_set = {1, 4, 24, 14, 457}

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
5
{1, 4, 24, 457, 14}

In [13]:
my_set.clear()
print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
0
set()

### copy
Copia los elementos en un nuevo set

In [9]:
my_set = {1, 4, 24, 14, 457}
my_set2 = my_set.copy()

print(type(my_set))
print(len(my_set))
print(my_set, "\n")

print(type(my_set2))
print(len(my_set2))
print(my_set2, "\n")

my_set2.clear()

print(type(my_set))
print(len(my_set))
print(my_set, "\n")

print(type(my_set2))
print(len(my_set2))
print(my_set2, "\n")

<class 'set'>
5
{1, 4, 24, 457, 14}

<class 'set'>
5
{1, 4, 24, 457, 14}

<class 'set'>
5
{1, 4, 24, 457, 14}

<class 'set'>
0
set()

### difference
Obtiene los valores presentes en el primer set y faltantes en el segundo

In [4]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

# existentes en b y faltantes en a
print(set_b.difference(set_a))

# existentes en a y faltantes en b
print(set_a.difference(set_b))

{8, 2, 4, 6}
{9, 3, 5}

### difference_update
Conserva los valores diferentes entre el set solicitado y el que es mandado como parámetro

In [6]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

# existentes en b y faltantes en a
set_b.difference_update(set_a)
print(set_b)

# existentes en a y faltantes en b
set_a.difference_update(set_b)
print(set_a)

{2, 4, 6, 8}
{1, 3, 5, 7, 9}

In [7]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

# existentes en a y faltantes en b
set_a.difference_update(set_b)
print(set_a)

# existentes en b y faltantes en a
set_b.difference_update(set_a)
print(set_b)

{3, 5, 9}
{1, 2, 4, 6, 7, 8}

### discard
Elimina un elemento del set si esta presente

In [12]:
my_set = {1, 4, 24, 14, 457, "Python", "Go"}
print(type(my_set))
print(len(my_set))
print(my_set, "\n")
      
my_set.discard(4)
print(type(my_set))
print(len(my_set))
print(my_set, "\n")
      
my_set.discard("Python")      
print(type(my_set))
print(len(my_set))
print(my_set, "\n")

my_set.discard(5)      
print(type(my_set))
print(len(my_set))
print(my_set, "\n")

<class 'set'>
7
{1, 4, 24, 457, 'Go', 'Python', 14}

<class 'set'>
6
{1, 24, 457, 'Go', 'Python', 14}

<class 'set'>
5
{1, 24, 457, 'Go', 14}

<class 'set'>
5
{1, 24, 457, 'Go', 14}

### intersection
Obtiene los valores en común en 2 sets

In [13]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 7, 8}

print(set_b.intersection(set_a))
print(set_a.intersection(set_b))

{1, 7}
{1, 7}

### intersection_update
Obtiene los valores en común en 2 sets y los asigna al set que manda a llamar el método

In [14]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 7, 8}

print(set_a.intersection_update(set_b))
print(type(set_a))
print(len(set_a))
print(set_a, "\n")


print(type(set_b))
print(len(set_b))
print(set_b, "\n")

None
<class 'set'>
2
{1, 7}

<class 'set'>
5
{1, 2, 4, 7, 8}

### isdisjoint
True : si no hay valores compartidos por ambos sets

False : si hay por lo menos un valor compartido por ambos sets

In [15]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 7, 8}

print(set_a.isdisjoint(set_b))

False

In [16]:
set_a = {1, 3, 5, 7, 9}
set_b = {2, 4, 6, 8}

print(set_a.isdisjoint(set_b))

True

### issubset
True : si todos los valores del set llamado están en el set pasado como parámetro

In [17]:
set_a = {1, 8}
set_b = {1, 2, 4, 7, 8}

print(set_a.issubset(set_b))

True

In [18]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 7, 8}

print(set_a.issubset(set_b))

False

### issuperset
Opuesto a "issubset"
Analiza si todos los valores del set pasado como parámetro estan en el set llamado

In [19]:
set_a = {1, 8}
set_b = {1, 2, 4, 7, 8}

print(set_b.issuperset(set_a))

True

In [20]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 7, 8}

print(set_b.issuperset(set_a))

False

### pop
Elimina el primer elemento del set

In [21]:
my_set = {1, 2, 4, 7, 8}
print(my_set.pop())
print(my_set.pop())
print(my_set.pop(), "\n")

print(len(my_set))
print(my_set)

1
2
4

2
{7, 8}

## remove
Elimina el elemento pasado como parámetro - debe estar presente en el set

In [23]:
my_set = {1, 2, 4, 7, 8, 10}
print(len(my_set))
print(my_set, "\n")

my_set.remove (4)
print(len(my_set))
print(my_set, "\n")

my_set.remove (3)
print(len(my_set))
print(my_set, "\n")

6
{1, 2, 4, 7, 8, 10}

5
{1, 2, 7, 8, 10}

KeyError: 3

## union
Cobina 2 sets

In [24]:
set_a = {1, 3, 8}
set_b = {1, 2, 4, 7, 8}

set_c = set_a.union(set_b)
print(set_c)

{1, 2, 3, 4, 7, 8}

## update
Añade los valores del set pasado como parámetro al set llamado

In [25]:
set_a = {1, 3, 8}
set_b = {1, 2, 4, 7, 8}

set_a.update(set_b)
print(set_a)

{1, 2, 3, 4, 7, 8}

## symmetric_difference
Obtiene todas las diferencias en ambos sets

In [27]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

print(set_b.symmetric_difference(set_a))
print(set_a.symmetric_difference(set_b))

{2, 3, 4, 5, 6, 8, 9}
{2, 3, 4, 5, 6, 8, 9}

## symmetric_difference_update
Obtiene todas las diferencias en ambos sets y asigna los valores al set llamado

In [28]:
set_a = {1, 3, 5, 7, 9}
set_b = {1, 2, 4, 6, 7, 8}

set_a.symmetric_difference_update(set_b)
print(set_a)
print(set_b)

{2, 3, 4, 5, 6, 8, 9}
{1, 2, 4, 6, 7, 8}

## Conversión

### str -> set

In [29]:
str1 = "Backend Python"
my_set = set(str1)

print(type(str1))
print(str1, "\n")

print(type(my_set))
print(my_set, "\n")

<class 'str'>
Backend Python

<class 'set'>
{'n', 't', 'a', 'e', 'd', 'y', 'k', ' ', 'P', 'c', 'o', 'B', 'h'}

### list -> set

In [30]:
list1 = [1, 1, 3, 6, 8, 3, 9, 10]
my_set = set(list1)

print(type(list1))
print(list1, "\n")

print(type(my_set))
print(my_set, "\n")

<class 'list'>
[1, 1, 3, 6, 8, 3, 9, 10]

<class 'set'>
{1, 3, 6, 8, 9, 10}

### tuple -> set

In [31]:
my_tuple = (1, 1, 3, 6, 8, 3, 9, 10)
my_set = set(my_tuple)

print(type(my_tuple))
print(my_tuple, "\n")

print(type(my_set))
print(my_set, "\n")

<class 'tuple'>
(1, 1, 3, 6, 8, 3, 9, 10)

<class 'set'>
{1, 3, 6, 8, 9, 10}

### set -> str

In [32]:
my_set = {'n', 't', 'a', 'e', 'd', 'y', 'k', ' ', 'P', 'c', 'o', 'B', 'h'} 
str1 = "".join(my_set)

print(type(str1))
print(str1)

<class 'str'>
ntadeyk PcoBh

### set -> list

In [33]:
my_set = {1, 3, 6, 8, 9, 10} 
my_list = list(my_set)

print(type(my_set))
print(my_set, "\n")

print(type(my_list))
print(my_list, "\n")

<class 'set'>
{1, 3, 6, 8, 9, 10}

<class 'list'>
[1, 3, 6, 8, 9, 10]

### set -> tuple

In [35]:
my_set = {1, 1, 3, 6, 8, 3, 9, 10}
my_tuple = tuple(my_set)

print(type(my_set))
print(my_set, "\n")

print(type(my_tuple))
print(my_tuple, "\n")

<class 'set'>
{1, 3, 6, 8, 9, 10}

<class 'tuple'>
(1, 3, 6, 8, 9, 10)